[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-extensions = "*"
django-robohash-svg = "*"
django-tables2 = "*"
gunicorn = "*"
whitenoise = "*"
django-imagekit = "*"

[requires]
python_version = "3"

[dev-packages]
django-modals = {path = "./../django-modals",editable = true}
django-better-image = {path = "./../django-better-image",editable = true}
django-listing = {editable = true, path = "./../django-listing"}
