[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-tables2 = "*"

[packages]
sphinxcontrib-napoleon = "*"
ipython = "*"
gunicorn = "*"
django-extensions = "*"
django-robohash-svg = "*"
django-listing = {path = "..",editable = true}
django-tables2 = "*"

[requires]
python_version = "3.6"
