{% extends "demo/index.html" %}
{% load django_listing %}

{% block example %}
    <h2>Upload</h2>
    <p>You can upload images by using DropzonJS, django-listing includes views to manage upload and actions, the setup is very simple</p>
    <p>Do not forget to put in your template the .css and .js from Dropzone</p>
    <p>Have a look at <code>demo/templates/demo/upload.html</code>, <code>UploadListingView</code> in
        <code>demo/views.py</code> and <code>UploadListing</code> in <code>demo/listings.py</code>
        to see how examples are coded coucou</p>

    <form  method="post" enctype="multipart/form-data">{% csrf_token %}
    {% render_listing %}
    </form>

{% endblock %}
